<!-- Add this link to your existing navbar -->
<li class="nav-item">
  <%= link_to "Search by Tech Stack", tech_stack_search_path, class: "nav-link px-3 py-2 text-gray-700 hover:text-blue-600" %>
</li>
<!-- End of tech stack search link --> 