<% content_for :content do %>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 py-4">
    <div class="flex flex-col">
      <!-- Admin Quick Actions -->
      <%= render 'admin/shared/quick_actions' %>
      
      <!-- Main Content -->
      <div class="bg-white rounded-lg shadow p-6 mt-6">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %> 